
       /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 600px;
        margin-bottom: 20px;

      }
      
      .item-name{
          
          margin-top: 20px;
      }
      #add-user-input-name{
          
          width: 100%;
      }

      .result{
          
          margin-top: 20px;
          text-align: center;
      }

      .item-finder{
          
          margin-bottom: 20px;
      }
      .slider{
          
    margin:0px 10px;     
          
      }

 
