table.borrower-table {
  display: block;
  border: 1px solid #F5F5F5;
  border-radius: 2px;
  margin: 0px auto;
  box-shadow:2px 2px 10px #DADADA;
  position: relative;
  width: 400;
}
.bottom-sec {
  /* outline: 1px solid grey; */
}
td.search-info {
  text-align: center;
  color: #BDBDBD;
}
td.#prof-pic {
  width: 100%;
}
.img-prof {
  border-radius: 50%;
  width: 100%;
  padding: 10px;
  padding-left: 20px;
}
#product {
  font-size: 200%;
  padding-left: 30px;
}
div#borrow-div {
  padding: 30px;
}
#offer {
  padding-left: px;
}
a#offer-btn:link, a#offer-btn:visited {
    border: 2px solid #1EAAF1;
    color: #1EAAF1;
    padding: 5px 25px;
    letter-spacing: 2px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;

}
a#offer-btn:hover, a#offer-btn:active {
    background-color: #43A5F8;
    color: white;
}
